#RewriteEngine On
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)$ index.php/$1 [L]
#Options -Indexes
## Use HTTP Strict Transport Security to force client to use secure connections only
#Header always set Strict-Transport-Security "max-age=300; includeSubDomains; preload"
#RewriteEngine on
## force ssl
#RewriteCond     %{SERVER_PORT} ^80$
#RewriteRule     ^(.*)$ https://%{SERVER_NAME}%{REQUEST_URI} [L,R]